@charset "utf-8";

#index{
  width: 1200px;
  margin-right: auto;
  margin-left : auto;
}

#header{
  width: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

#title{
  font-size: 200%;
}

#link{
  text-align: right;
}

#kensaku{
  text-align: center;
}

#resulttable{
  width: 60%;
  margin: 0 auto;
}

#midasi{
  background: azure;
}

#midasi2{
  width: 20%;
  background: azure;
  text-align: center;
}

#syain_id{
  width: 12%;
  text-align: center;
}

#namae{
  width: 40%;
  text-align: center;
}

#age{
  width: 50px;
}

#busyo{
  text-align: center;
}

#yakusyoku{
  text-align: center;
}

#nasi{
  text-align: center;
}

#purudaun{
  margin-top: 8px;
}

#botan{
  text-align : center;
  margin-top: 8px;
}

#botan2{
  margin: 0px 550px;
  display: inline-flex;
  margin-top: 8px;
}
